 @import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Inconsolata:400,700|Lobster+Two:400,700');

 main {
    font-family: 'Lobster Two', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Dosis', sans-serif;
}

:global(h1, h2, h3, h4, h5, h6) {
  font-family: 'Lobster Two'
}